<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reddask</title>
</head>

<nav>
    <h1><a href="{{ url_for('home') }}">reddask</a></h1>
    <a href="">new submission</a>
    <a href="{{ url_for('register') }}">register</a>
    <a href="">log in</a>
    <a href="">log out</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</nav>

<body>

</body>

</html>